.root {
    -fx-background-color: #68a624;
}

.main-icon {
    -fx-fill: #ffffff;
}

.button {
    -fx-background-color: #568d1a;
    -fx-padding: 6px;
    -fx-text-fill: #ffffff;
}

.button:hover {
    -fx-background-color: #518618;
}

.button:pressed {
    -fx-background-color: #4a7a16;
}

.hyperlink {
    -fx-text-fill: #ffffff;
    -fx-focus-color: transparent;
}
