.root, .leftPane {
    -fx-background-color: #eee;
}

.list-view, .text-area, .text-field {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-text-box-border: transparent;
    -fx-focus-color: transparent;
}

.main-menu {
    -fx-background-color: #dfdfdf;
    -fx-border-color: rgba(0, 0, 0, 0.1);
    -fx-border-width: 0 1 0 0;
}

.main-menu:hover {
    -fx-background-color: #d9d9d9;
}

.main-menu:pressed {
    -fx-background-color: #d4d4d4;
}

.main-menu .menu-item:focused {
    -fx-background-color: #d9d9d9;
}

.main-menu .menu-item:focused .label {
    -fx-text-fill: #111;
}

.context-menu {
    -fx-background-color: #eaeaea;
    -fx-border-color: rgba(0, 0, 0, 0.1);
    -fx-border-width: 1 1 1 1;
}

.list-view {
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-border-color: rgba(0, 0, 0, 0.1);
}

.conversations-list {
    -fx-background-color: #dfdfdf;
    -fx-border-color: rgba(0, 0, 0, 0.1);
    -fx-border-width: 1 1 0 0;
}

.friends-view {
    -fx-background-color: #dfdfdf;
    -fx-border-width: 0;
}

.friends-view .scroll-bar:vertical {
    -fx-opacity: 0;
    -fx-padding: 0 -2137 0 0; /* if it works and it's stupid then it ain't stupid */
}

.friends-view .list-cell {
    -fx-padding: 0;
    -fx-border-color: rgba(0, 0, 0, 0.04);
    -fx-border-width: 0;
    -fx-background-color: #ebebeb;
    -fx-text-fill: #111;
}

.friends-view .list-cell:nonempty {
    -fx-border-width: 0 0 1 0;
}

.friends-view .list-cell:hover:nonempty {
    -fx-background-color: #e8e8e8;
}

.friends-view .list-cell:selected:nonempty {
    -fx-background-color: #dddddd;
}

.friends-view .list-cell:pressed:nonempty {
    -fx-background-color: #d4d4d4;
}

.conversationCell .usernameLabel {
    -fx-text-fill: #000;
}

.conversationCell .lastMessageLabel, .conversationCell .timeLabel {
    -fx-text-fill: rgba(0, 0, 0, 0.7);
}

.submitField .content, .friends-search {
    -fx-background-color: #eee;
    -fx-border-style: none;
}

.bottomPane {
    -fx-background-color: #eee;
}

.friend-fingerprint-label {
    -fx-padding: 2 0 0 0;
    -fx-text-fill: rgba(0, 0, 0, 0.7);
}

.messages-view {
    -fx-background-color: #eee;
    -fx-border-width: 1 0 1 0;
}

.messages-view .list-cell {
    -fx-padding: 2 10 2 10;
    -fx-background-color: #eee;
    -fx-text-fill: #111;
}

.message-cell .message-label {
    -fx-text-fill: #000;
}

.message-cell .message-wrap {
    -fx-background-color: #cccccc;
    -fx-background-radius: 15;
    -fx-alignment: center-left;
}

.list-cell:outgoing .message-cell {
    -fx-alignment: center-right;
}

.list-cell:outgoing .message-cell .message-wrap {
    -fx-background-color: #68a624;
    -fx-alignment: center-right;
}

.list-cell:outgoing .message-cell .message-label {
    -fx-text-fill: #f0f0f0;
}

.list-cell:sending, .list-cell:error {
    -fx-opacity: 0.5;
}

.list-cell:error .message-cell .message-wrap {
    -fx-border-color: #FF0000;
    -fx-border-width: 1;
    -fx-border-radius: 15;
}

.sendButton {
    -glyph-name: "PAPER_PLANE";
    -fx-fill: #287e13;
}

.sendButton:hover {
    -fx-fill: #267712;
}

.sendButton:pressed {
    -fx-fill: #236d10;
}

.welcomeLabel {
    -fx-text-fill: rgba(0, 0, 0, 0.8);
}