.root {
    -fx-background-color: #fff;
}

.list-view, .text-area {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-text-box-border: transparent;
    -fx-focus-color: transparent;
}

.main-menu {
    -fx-background-color: #fff;
    -fx-border-color: rgba(0, 0, 0, 0.1);
    -fx-border-width: 0 1 0 0;
}

.context-menu {
    -fx-background-color: #fff;
    -fx-border-color: rgba(0, 0, 0, 0.1);
    -fx-border-width: 1 1 1 1;
}

.menu-item:focused .label {
    -fx-text-fill: #111;
}

.friends-view {
    -fx-background-color: #fff;
    -fx-border-color: rgba(0, 0, 0, 0.1);
    -fx-border-width: 1 1 0 0;
}

.submitField .content {
    -fx-background-color: #fff;
    -fx-border-style: none;
}

.bottomPane {
    -fx-background-color: #fff;
}

.messagesView .content {
    -fx-background-color: #fff;
    -fx-border-color: rgba(0, 0, 0, 0.1);
    -fx-border-width: 0 0 1 0;
}

.sendButton {
    -fx-fill: #287e13;
}
